= render "default/shared/retreatsIntro"
= render "default/shared/retreatsSpacesSection.html.haml"
= render "default/shared/retreatsAccommodation.html.haml"
= render "default/shared/retreatsCommonServices.html.haml"
